:root {
    --dimension: 90%;
    margin: auto;
}

html {
    height: 100%;
}

body {
    line-height: 1.8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-image: url('./img/background2.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 2%;
    padding-right: 2%;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #000
}

ul {
    list-style: none;
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0;
    flex-flow: row wrap;

}

pre {
    line-height: 15px;
}

hr {
    border-width:0;
    background-color:#d9d9d9;
}

.url {
    padding: 10px;
    background-color: #d9d9d9;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
