/* jest ignore file */
body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#error {
  display: none;
}

/* style alert header and box */
.alert-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px;
  margin: 0px 15px;
  position: relative;
  font-size: 90%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#alert-header-warning {
  color: #e55f25;
  border: 1px solid #e55f25;
}

#alert-header-noWarning {
  color: #146a42;
  border: 1px solid #146a42;
}

.alert-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 10px;
  margin: 0px 15px;
  position: relative;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#alert-box-warning {
  background-color: #e55f25;
}

#alert-box-noWarning {
  background-color: #146a42;
}

.alert-message {
  padding-left: 10px;
}

/* style date and location position in header */
.alert-header-textbox {
  display: flex;
  width: fit-content;
  padding-right: 10px;
  padding-left: 10px;
}

.current-date {
  text-align: right;
  padding-left: 10px;
}

.current-location {
  text-align: right;
  padding-left: 10px;
}

.alert-icon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 3px solid white;
  text-align: center;
  color: white;
  line-height: 35px;
  vertical-align: middle;
  font-size: 150%;
  flex-shrink: 0;
}

/* style refresh button */
.alert-refresh {
  text-align: center;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#alert-refresh-warning {
  background-color: #e55f25;
}

#alert-refresh-noWarning {
  background-color: #146a42;
}