/* jest ignore file */
body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: white;
}

#widget {
  /* todo improve widget sizes, maybe use relative units */
  width: 800px;
  height: 400px;
}
