html,
body,
#root,
.App,

#map {
  display: flex;
  margin: 0;
  height: 100%;
  width: 100%;
}

.output-wrapper {
  width: 25%;
  margin: 1%;
  overflow-y: auto;
}

.logo {
  width: 100%;
}

.header {
  padding: 15px;
}

h3 {
  padding-top: 15px;
}

h4 {
  margin-bottom: 0px;
}

.information-text {
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}

.information-text-bold {
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
  margin-bottom: 0px;
}

.region-selector {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.no-input {
  color: rgba(232, 98, 49, 255);
}

.search-bar {
  display: flex;
  position: relative;
  padding: 15px;
  flex-direction: column;
}

.search-result-property {
  margin: 0;
}

.search-result-name {
  font-size: medium;
  font-weight: bold;
}

.widget-selector {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.geometry {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.geometry-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.geom-textarea {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.band-selector {
  display: flex;
  flex-direction: column;
}

.threshold-selector {
  display: flex;
  flex-direction: column;
}

.permalink-component {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.permalink {
  display: flex;
  flex-direction: column;
}

.url-icons {
  display: flex;
  flex-direction: row;
  margin: 15px;
  justify-content: space-around;
}

.url-icons .anticon svg {
  width: 1.5em;
  height: 1.5em;
}

.attributes {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.ant-input {
  padding: 10px;
}

.personal-title-selector {
  display: flex;
  flex-direction: column;
}

.info-selector {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}