html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.controls {
  padding: 10px;
}

.controls > label {
  padding-left: 20px;
}

select#dataset {
  width: 300px;
}
#main {
  width: 100%;
  height: 100%;
  display: table;
}
#map {
  height: 100%;
}
pre {
  height: 25vh;
  overflow: auto;
}
#wrapper {
  height: 100%;
}
#api-output {
  height: 100%;
  overflow: auto;
}
#sider {
  width: 500px;
  max-width: 500px;
  display: table-cell;
  vertical-align: top;
  padding: 10px;
  height: 100%;
}
#chart {
  height: 30vh;
}
code {
  white-space: pre-line;
}
video {
  width: 100%;
  height: 100%;
}
