.App,
#map {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#slider {
  position: absolute;
  width: 100%;
  padding: 2%;
  height: auto;
  bottom: 0;
  background-color: white;
}

#buttons {
  position: fixed;
  top: 70px;
  right: 22px;
}

#transperency-slider {
  display: none;
  position: fixed;
  background-color: white;
  padding: 1vh;
  width: 20%;
  right: 30px;
  bottom: 160px;
}

#legend {
  position: fixed;
  width: auto;
  display: none;
  height: auto;
  background-color:  white;
  padding: 1vh;
  right: 30px;
  bottom: 300px;
}

img {
  position: relative;
  padding: 1vh;
}

.legend-label {
  position: absolute;
  bottom: 0vh;
  padding-left: 1vh;
}
