.App,
#map {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#slider {
  position: absolute;
  width: 100%;
  padding: 2vh;
  height: auto;
  bottom: 0;
  background-color: white;
}

#transperency-slider {
  display: none;
  margin: 2vh;
}