.ant-slider {
    position: absolute;
    width: 100vh;
    z-index: 2;
}

.custom-slider .ant-slider-handle {
    cursor: ew-resize;
    height: 100vh;
    width: 1px;
    border: 0px;
    margin-left: -6px !important
}

.custom-slider .ant-slider-handle:focus {
    border: 0px;
    box-shadow: 0 0 0 0px;
}

.custom-slider .ant-slider-track {
    height: 0px;
    border: 0px;
}

.custom-slider .ant-slider-rail {
    height: 0px;
    border-radius: 0px;
}

.ant-slider-horizontal {
    // needs to be !important due to antd
    margin-top: 0px !important;
}

.label {
    width: 10vh;
}