.ant-slider {
    position: fixed;
    width: 100%;
}

.ant-slider-track {
    background: #2121a0;
    height: 3px;
}

.ant-slider-rail {
    background: #29292c;
    height: 3px;
}

.ant-slider-handle {
    background: #929293;
    width: 12px;
    height: 12px;
    border: none;
}

.ant-slider-handle-active {
    background: #929293;
    width: 12px;
    height: 12px;
    border: none;
}

.ant-slider-dot {
    border: 1.5px solid #29292c;
    border-radius: 1px;
    background: #29292c;
    width: 2px;
    height: 10px;
}

.ant-slider-dot-active {
    border: 1.5px solid #929293;
    border-radius: 1px;
    background: #929293;
    width: 2px;
    height: 10px;
}

.ant-slider-with-marks {
    margin-bottom: 50px;
}
