name: Create and publish Docker images

on: workflow_dispatch

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Get current timestamp
        id: timestamp
        run: echo "::set-output name=timestamp::$(date +'%Y%m%dT%H%M')"

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push geoserver-init
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./geoserver-init
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/geoserver-init:latest
            ghcr.io/${{ github.repository_owner }}/geoserver-init:${{ steps.timestamp.outputs.timestamp }}

      - name: Build and push pygeoapi
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./pygeoapi
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/pygeoapi:latest
            ghcr.io/${{ github.repository_owner }}/pygeoapi:${{ steps.timestamp.outputs.timestamp }}

      - name: Build and push error-handler worker
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./worker/error-handler
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/mqm-worker/error-handler:latest
            ghcr.io/${{ github.repository_owner }}/mqm-worker/error-handler:${{ steps.timestamp.outputs.timestamp }}

      - name: Build and push rollback handler worker
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./worker/rollback-handler
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/mqm-worker/rollback-handler:latest
            ghcr.io/${{ github.repository_owner }}/mqm-worker/rollback-handler:${{ steps.timestamp.outputs.timestamp }}

      - name: Build and push GeoServer
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./geoserver
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/geoserver:latest
            ghcr.io/${{ github.repository_owner }}/geoserver:${{ steps.timestamp.outputs.timestamp }}

      - name: Build and push klips api
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./klips-api
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/klips-api:latest
            ghcr.io/${{ github.repository_owner }}/klips-api:${{ steps.timestamp.outputs.timestamp }}

      - name: Build and push klips-chart-api
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./easy-to-use-api/klips-chart-api
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/klips-chart-api:latest
            ghcr.io/${{ github.repository_owner }}/klips-chart-api:${{ steps.timestamp.outputs.timestamp }}

      - name: Build and push klips-timelapse-video-api
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./easy-to-use-api/klips-timelapse-video-api
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/klips-timelapse-video-api:latest
            ghcr.io/${{ github.repository_owner }}/klips-timelapse-video-api:${{ steps.timestamp.outputs.timestamp }}
      
      - name: Build and push klips-warning-api
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./easy-to-use-api/klips-warning-api
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/klips-warning-api:latest
            ghcr.io/${{ github.repository_owner }}/klips-warning-api:${{ steps.timestamp.outputs.timestamp }}

      - name: Build and push klips-url-generator 
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./easy-to-use-api/klips-url-generator
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/klips-url-generator:latest
            ghcr.io/${{ github.repository_owner }}/klips-url-generator:${{ steps.timestamp.outputs.timestamp }}

      - name: Build and push klips-wmts-slider
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./demonstrator-ogc-services/klips-wmts-slider
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/klips-wmts-slider:latest
            ghcr.io/${{ github.repository_owner }}/klips-wmts-slider:${{ steps.timestamp.outputs.timestamp }}
      
      - name: Build and push klips-wmts-demo
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./demonstrator-ogc-services/klips-wmts-demo
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/klips-wmts-demo:latest
            ghcr.io/${{ github.repository_owner }}/klips-wmts-demo:${{ steps.timestamp.outputs.timestamp }}
    
      - name: Build and push klips-dashboard
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./easy-to-use-api/klips-dashboard
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/klips-dashboard:latest
            ghcr.io/${{ github.repository_owner }}/klips-dashboard:${{ steps.timestamp.outputs.timestamp }}
            